body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
  Helvetica, Roboto, Arial, sans-serif;
  padding: 2%;
  height: 98%;
}

.landing-container{
  text-align: center;
}

.landing {
  padding: 100px;
  height: 390px;
  width: 830px;
  border: 4px solid rgba(255, 0, 0, .5);
}
